/******************************************************************************
**  Description: JOB POSTING / DASHBOARD HOME PAGE - css file for the page
******************************************************************************/

#dashboard-container {
    width: 730px;
}

#account-container {
    width: 730px;
    min-height: min-content;
    height: 125px;
    margin: 8px auto 0px auto;
    position: relative;
}


/* Dashboard page styling ------------------------------------------------------ */

#profile-image {
    height: 35px; 
    border-radius: 50%; 
    margin: 1px 0px 10px 5px;
}

#profile-email {
    font-size: medium; 
    font-weight: bold; 
    display: inline-block;
    margin: 11px 0px 0px 0px;
}

.mdl-card__supporting-text {
    width: 93%;
}

#email-form-inner {
    padding-top: 15px !important;
}

#submit-msg {
    margin-top: -1px;
    margin-bottom: 8px;
}

#submit-msg {
    text-align: center;
}

#submit_email{
    display: block;
    justify-content: center;
    background-color: #ebb54b;
    width: 80px;
    margin: 25px auto -15px auto;
    color: rgb(66,66,66);
}

#submit_email:hover {
    background-color: #d39c2e;
}

#removeUserButton{
    display: inline-block;
    background-color: rgb(219, 41, 41);
    color: white;
    width: 180px;
    margin: -10px 20px 0 -5px;
    justify-content: center;
}

#removeUserButton:hover{
    background-color: rgb(175, 9, 9);
}

#delete-msg {
    display: inline-block;
    width: 200px;
}


/* Media queries  ---------------------------------------------------------- */

@media only screen and (max-width: 775px) {
    #dashboard-container {
        width: 95%;
    }

    #account-container {
        width: 95%;
    }

    .mdl-card__supporting-text {
        width: 90%;
    }
}

@media only screen and (max-width: 500px) {
    #account-container {
        height: 180px;
        margin: 8px auto 0px auto;
    }

    #removeUserButton{
        display: block;
        margin: 0 auto 15px auto;
    }

    #delete-msg {
        display: block;
        margin: 0 auto 0 auto;
    }
}

@media only screen and (max-width: 400px) {
    hr {
        width: 95%;
    }
    
    #email-form-container {
        margin: 0 0 -15px -18px;
        width: 315px;
    }

    #account-container.mdl-card.mdl-shadow--2dp div.mdl-card__supporting-text.mdl-color-text--grey-600 {
        width: 280px;
    }
}
