/******************************************************************************
**  Description: JOB POSTING / DASHBOARD HOME PAGE - css file for the page
******************************************************************************/

#dashboard-container {
    width: 800px;
}

#profile-image {
    height: 35px; 
    border-radius: 50%; 
    margin: 1px 0px 10px 5px;
}

#profile-email {
    font-size: medium; 
    font-weight: bold; 
    display: inline-block;
    margin: 11px 0px 0px 0px;
}
/* Dashboard page styling ------------------------------------------------------ */

#submit_email{
    background-color: #ebb54b;
}

#removeUserButton{
    background-color: crimson;
    width: 200px;
    justify-content: center;
    
    
}

@media only screen and (max-width: 900px) {
    #dashboard-container {
        width: 95%;
    }
}


