/******************************************************************************
**  Description: QUIZ BUILDER PAGE - css file for the page
******************************************************************************/

#dashboard-container {
    width: 1000px;
}

#quiz-container{
    margin: 20px 0px 30px 20px;
}

.question-btn {
    background-color: #ebb5b4;
    font-size: 10px;
    margin-right: 3px;
    margin-bottom: 10px;
}

.question_input{
    display: block;
}
