/******************************************************************************
**  Description: QUIZ BUILDER PAGE - css file for the page
******************************************************************************/

#dashboard-container {
    width: 960px;
}

#quiz-container{
    margin: 30px 0px 30px 0px;
    text-align: center;
}

#exit_btn {
    margin: -19px auto -5px auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.76);
}

#question-count-label {
    font-size: large;
    display: inline-block;
    margin: 7px 5px 7px 0px;
}

#question-count {
    font-size: large; 
    display: inline-block;
    
}

#question-prompt {
    margin: 40px 0px 20px 0px;
}

.question-btn {
    background-color: #ebb5b4;
    font-size: 10px;
    margin-right: 3px;
    margin-bottom: 20px;
}

.questionNum {
    font-size: large;
}

.question_input{
    display: block;
    margin: 0px auto 20px auto;
}

.complete-button {
    margin: 20px 10px 0px 0px;
}

#answerBox {
    display: block;
    margin: 35px auto 20px auto;
}

#submit-btn {
    margin: 0px auto -15px auto;
    color: white;
    background-color: rgb(49, 166, 202);
}

@media only screen and (max-width: 1020px) {
    #dashboard-container {
        width: 560px;
    }
}

@media only screen and (max-width: 600px) {
    #dashboard-container {
        width: 300px;
    }
}

@media only screen and (max-width: 300px) {
    #dashboard-container {
        width: 250px;
    }
}
